.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;

  &-title {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &-service {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;

    color: #ffffff;
    background-color: $accent-color;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
  }
}
